.example-form {
  margin-left: 40%;
  margin-top: 3%;
}
.icon {
  margin-left: 190px;
}
.searchResultsDiv {
  border-style: none;
  float: left;
  width: inherit;
  text-align: left;
  background-color: inherit;
}
