.searchResultsDiv {
  border-style: none;
  float: left;
  width: inherit;
  text-align: left;
  background-color: inherit;
}
.mat-card {
  padding: 10px 25px 10px 10px;
}
.example-card {
  margin: 20px 0px 0px 45px;
  float: left;
  height: 30%;
  width: 41%;
}
.example-header-image {
  background-size: cover;
}
.mat-card-image {
  float: right;
  width: 50px;
  height: 65px;
}
.mat-card-header {
  display: inline-block;
}
.mat-card-header-data {
  margin: 0;
}
.mat-card-title,
.mat-card-subtitle {
  width: 300px;
}
.mat-card-title {
  font-size: 15px;
}
.mat-card-subtitle,
.mat-card-content {
  font-size: 10px;
}
.mat-card-content {
  color: #000;
}
.tex-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  width: 100%;
  text-align: justify;
}
.authText {
  line-height: 5px;
  margin-top: 22px;
}
.headingText {
  text-align: center;
}
